/* Imports Lato and Oswald fonts which are used throughout */
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/* Making sure all margins and padding start at 0 */
* {
    margin: 0;
    padding: 0;
}

/* Default font and text colour */
body {
    background-color: white;
    font-family: Lato;
}
/* Dropdown list section */
#nav {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.label {
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;
}

#navbarArrow, #navbarArrowCombined {
  transition: transform 1s ease-in-out;
  transform-origin: top center;
  display: inline-block;
  vertical-align: middle;
}

#navbarArrow.flipped, #navbarArrowCombined.flipped {
  transform: rotateX(180deg);
  transform-origin: top center;
}

.dropdownContent {
  display: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  letter-spacing: 2px;
  background-color: white;
  margin-left: -240px;
  width: 480px;
  min-width: 480px;
  border: 1px solid rgb(0, 0, 0);
  z-index: 2;
  font-size: medium;
  transform: translateY(35px);
}

.dropdownContent a {
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: lightgrey;
  color: black;
  font-weight: 900;
}

.show {
  display: block;
}

.combined-dropdown {
display: none;
}

/* Main title */
h3 {
    padding-top: 10px;
    padding-bottom: 15px;
}

/* Collapsible Description Box */
#description {
}

.collapsible {
  text-align: center;
  background-color: rgb(180, 230, 250);
  border: 1px solid rgb(180, 230, 250);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888888;
  color: black;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 0 18px;
  width: 75%;
  height: 60px;
  left: 50%;
  margin-left: -37.5%;
  position: absolute;
  z-index: 1;
}

.active, .collapsible:hover {
  transition: all .1s linear;
  background-color: rgb(180, 230, 250);
  border: 1px solid black;
  z-index: 1;
}

.collapsible:after {
  content: '\002B'; /* This is the unicode for the '+' symbol */
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* This is the unicode for the '-' symbol */
}

.content {
  position: absolute;
  padding: 0px 5px;
  max-height: 0;
  overflow: hidden;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
  transition: max-height 0.2s ease-out;
  background-color: rgb(180, 230, 250);
  box-shadow: 2px 2px 5px #888888;
  transform: translateY(65px);
  border: 0 solid black;
  z-index: 1;
}

/* All randomiser and reset buttons */
.randomButtons, #resetButtons {
    display: inline-block;
    transition: all .15s linear;
    height: 65px;
    width: 250px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin: 10px;
}

.randomButtons {
    background-color: #00fbff;
    border: 1px solid cyan;
}

#resetButtons {
    color: black;
    border: 1px solid white;
    background-color: white;
}

#resetButtons:hover {
    color: #000000;
    background-color: #ededed;
    border: 1px solid black;
}

/* League of Legends role icons */
.roleButtons {
    display: inline-block;
    transition: all .15s linear;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 0;
}

.randomButtons:hover, .roleButtons:hover {
    background-color: rgb(0, 220, 255);
    border: 1px solid black;
}

/* League map background and football pitch */
#leagueMap, #pitch {
    width: 100%;
    max-width: 1200px;
    height: auto;
    position: relative;
    margin-top: 80px;
}

.container img {
    height: auto;
    margin: 0;
    padding: 0;
}

/* Positioning of League of Legends role icons */
#top, #jung, #mid, #adc, #supp {
    position: absolute;
}

#top {
    background-image: url(/images/Position_Grandmaster-Top.png);
    top: 23%;
    left: 23%;
}

#jung {
    background-image: url(/images/Position_Grandmaster-Jungle.png);
    top: 40%;
    left: 30%;
}

#mid {
    background-image: url(/images/Position_Grandmaster-Mid.png);
    top: 42%;
    left: 48%;
}

#adc {
    background-image: url(/images/Position_Grandmaster-Bot.png);
    top: 60%;
    left: 73.5%;
}

#supp {
    background-image: url(/images/Position_Grandmaster-Support.png);
    top: 67.5%;
    left: 80%;
}

/* League random champion results text */
.ChampText {
    font-size: 18px;
    color: black;
}

/* Styling and positioning of football positions */

#pitch {
    margin-bottom: 15px;
}

#GK { top: 12%; left: 50%; transform: translate(-50%, -50%); }
#RB { top: 30%; left: 20%; transform: translate(-50%, -50%); }
#LCB { top: 30%; left: 40%; transform: translate(-50%, -50%); }
#RCB { top: 30%; left: 60%; transform: translate(-50%, -50%); }
#LB { top: 30%; left: 80%; transform: translate(-50%, -50%); }

#RCM { top: 55%; left: 30%; transform: translate(-50%, -50%); }
#CAM { top: 65%; left: 50%; transform: translate(-50%, -50%); }
#LCM { top: 55%; left: 70%; transform: translate(-50%, -50%); }

#RW { top: 80%; left: 20%; transform: translate(-50%, -50%); }
#ST { top: 90%; left: 50%; transform: translate(-50%, -50%); }
#LW { top: 80%; left: 80%; transform: translate(-50%, -50%); }


.position {
  position: absolute;
  width: 100px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  line-height: 55px;
  text-align: center;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
  
/* Sweepstake section styling */
#sweepstake {
  padding-bottom: 15px;
}

h4 {
  font-weight: bold;
  border-bottom: 1px solid black;
}

#countries {
  transform: translateY(90px);
  padding-bottom: 15px;
}

.country {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#convertor {
    transform: translateY(100px);
}

/* FOOTER AND NAV ELEMENTS BELOW */
/* Spacing between Footer text and respective icon. Also styling on hover of link + positioning of links and copyright text */
span {
    padding-right: 7.5px;
  }
  
  #navbar {
    font-size: 15px;
    letter-spacing: 2px;
    height: 30px;
    color: white;
    width: 100%;
    left: 50%;
    margin-left: -1%;
    position: fixed;
    margin-top: 5px;
    font-family: Lato;
  }
  
  #navbar a {
    text-decoration: none;
    color: inherit;
  }
  
  #navbar a:hover {
    border-bottom: 1px solid #ffffff;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: black;
    font-size: 115%;
  }
  
  footer ul {
    padding-left: 5px;
  }
  
  .socials {
    list-style: none;
    float: left;
    transform: translateY(-10px);
  }
  
  .socials a {
    color: white;
    text-decoration: none;
  }
  
  .linkedin:hover {
    color: #0077b5;
  }
  
  .github:hover {
    color: rgb(230, 230, 37);
  }
  
  .youtube:hover {
    color: red;
  }
  
  footer li {
    padding: 7px 10px 10px 5px;
  }
  
  .copyright {
    float: right;
    color: white;
    pointer-events: none;
    list-style: none;
    margin-right: 10px;
    line-height: 10px;
  }

  /* Media queries for all devices */
@media (width >= 1920px) and (height >= 796px) {
  html, body {
      height: 100vh;
      width: 100vw;
    }
    .dropdownContent {
      transform: translateY(75px);
    }
}

/* LARGE TABLETS */
@media (width <= 1024px) and (height <= 1366px) {
  html, body {
    height: 100vh;
    width: 100vw;
  }
  #nav, #navOption {
      height: 75px;
      font-size: 20px;
  }
  .label {
      margin-top: 20px;
  }
  .dropdownContent {
      transform: translateY(75px);
      font-size: 20px;
      letter-spacing: 1px;
      width: 400px;
      min-width: 400px;
  }
  .dropdownContent a {
      padding: 3px 0;
  }
  .collapsible {
      font-size: 25px;
  }
  .content {
      font-size: 25px;
  }
  footer {
    letter-spacing: 1.5px;
    font-size: 25px;
    height: 37.5px;
  }
  footer li, .copyright {
    transform: translateY(4px);
  }
}

/* SMALLER TABLETS */
@media (width <= 768px) and (height <= 1024px) {
  html, body {
    height: 100vh;
    width: 100vw;
  }
  #nav, #navOption {
      height: 75px;
  }
  .label {
      font-size: 20px;
      margin-top: 20px;
  }
  .dropdownContent {
      transform: translateY(75px);
      margin-left: -220px;
      width: 420px;
      min-width: 420px;
      font-size: 17.5px;
  }
  .dropdownContent a {
      letter-spacing: 0px;
      padding: 3px 0;
  }
  .collapsible {
      font-size: 20px;
  }
  .content {
      font-size: 20px;
      transform: translateY(65px);
  }
  .button {
      font-size: 35px;
  }
  footer {
    letter-spacing: 1.5px;
    font-size: 20px;
    height: 30px;
  }
  footer li, .copyright {
    transform: translateY(1px);
  }
}

/* LANDSCAPE PHONES */
@media (width <= 932px) and (height <= 430px) {
  html, body {
    height: 100vh;
    width: 100vw;
  }
  #nav, #navOption {
      height: 50px;
  }
  .label {
      font-size: 17.5px;
      margin-top: 12.5px;
  }
  .dropdownContent {
      transform: translateY(50px);
      margin-left: -280px;
  }
  .collapsible {
      font-size: 20px;
  }
  .content {
      font-size: 18.5px;
  }
  button {
      height: 80px;
  }
  footer {
    font-size: 12.5px;
    height: 17.5px;
  }
  footer li {
    padding: 6px;
  }
  .copyright {
    transform: translateY(-3px);
  }
}

/* SURFACE PRO */
@media (width = 912px) and (height = 1368px) {
  html, body {
    height: 100vh;
    width: 100vw;
  }
  #nav, #navOption {
      height: 100px;
  }
  .label {
      font-size: 30px;
      margin-top: 25px;
  }
  .dropdownContent {
      transform: translateY(100px);
      margin-left: -300px;
  }
  .dropdownContent a {
      font-size: 25px;
  }
  label, select {
    font-size: 30px;
  }
  .randomButtons, #resetButtons {
    height: 100px;
    width: 350px;
    font-size: 30px;
    margin: 16px 16px;
  }
  .collapsible {
      height: 100px;
      font-size: 30px;
  }
  .content {
      font-size: 25px;
      transform: translateY(105px);
  }
  #pitch {
    transform: translateY(50px);
  }
  .position {
    width: 140px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
  footer {
    letter-spacing: 1.5px;
    font-size: 25px;
    height: 37.5px;
  }
  footer li, .copyright {
    transform: translateY(4px);
  }
}

/* SURFACE DUO  */
@media (width = 540px) and (height = 720px) {
  html, body {
    height: 100vh;
    width: 100vw;
  }
  #nav, #navOption {
      height: 50px;
  }
  #nav .row > .col-sm-4 {
      display: none;
  }
  .combined-dropdown {
      display: block !important;
  }
  .dropdownContent {
    display: none;
  }
  .dropdownContent.show {
    display: block;
  }
  .label {
      font-size: 15px;
      margin-top: 15px;
  }
  .dropdownContent {
      transform: translateY(50px);
      margin-left: -270px;
      font-size: 15px;
  }
  .dropdownContent a {
      padding: 3px 0;
      letter-spacing: 1px;
  }
  .collapsible {
      height: 50px;
      font-size: 15px;
  }
  .content {
      font-size: 15px;
      transform: translateY(55px);
  }
  footer {
    font-size: 12.5px;
    height: 17.5px;
  }
  footer li {
    padding: 6px;
  }
  .copyright {
    transform: translateY(-3px);
  }
}

/* IPHONE SCREENS */
@media (width <= 450px) and (height <= 996px) {
  html, body {
    height: 100vh;
    width: 100vw;
  }
  #nav, #navOption {
      height: 50px;
  }
  #nav .row > .col-sm-4 {
      display: none;
  }
  .combined-dropdown {
      display: block !important;
  }
  .dropdownContent {
    display: none;
  }
  .dropdownContent.show {
    display: block;
  }
  .label {
      font-size: 15px;
      margin-top: 15px;
  }
  .dropdownContent {
      transform: translateY(50px);
      margin-left: -240px;
      font-size: 15px;
      width: 420px;
      min-width: 420px;
  }
  .dropdownContent a {
      padding: 3px 0;
      letter-spacing: 1px;
  }
  .collapsible {
      height: 50px;
      font-size: 15px;
  }
  .content {
      font-size: 15px;
      transform: translateY(55px);
  }
  .col-sm-6, .col-sm-2 {
    width: 200px;
  }
  .randomButtons, #resetButtons {
    height: 50px;
    width: 175px;
    border-radius: 15px;
    font-size: 15px;
  }
  .roleButtons {
    background-size: 30px;
    width: 50px;
    height: 50px;
  }
  #top {
    top: 18%;
  }
  #jung {
    top: 30%;
  }
  #mid {
    top: 31%;
  }
  #adc {
    top: 44%;
    left: 71%;
  }
  #supp {
    top: 54%;
  }
  .position {
    width: 65px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
  }
  footer {
    height: 25px;
    font-size: 17.5px;
    letter-spacing: normal;
  }
  footer li {
    margin-left: 8%;
    padding-left: 0px;
    padding-right: 0px; 
  }
  .copyright {
    display: none;
  }
}

/* LARGE MOBILE SCREENS */
@media (width <= 425px) and (height <= 1024px) {
  html, body {
    height: 100vh;
    width: 100vw;
  }
  #nav, #navOption {
      height: 50px;
  }
  #nav .row > .col-sm-4 {
      display: none;
  }
  .combined-dropdown {
      display: block !important;
  }
  .dropdownContent {
    display: none;
  }
  .dropdownContent.show {
    display: block;
  }
  .label {
      font-size: 15px;
      margin-top: 15px;
  }
  .dropdownContent {
      transform: translateY(50px);
      margin-left: -240px;
      font-size: 15px;
      width: 420px;
      min-width: 420px;
  }
  .dropdownContent a {
      padding: 3px 0;
      letter-spacing: 1px;
  }
  .collapsible {
      height: 50px;
      font-size: 14px;
  }
  .content {
      font-size: 15px;
      transform: translateY(55px);
  }
  footer {
    height: 25px;
    font-size: 17.5px;
    letter-spacing: normal;
  }
  footer li {
    margin-left: 8%;
    padding-left: 0px;
    padding-right: 0px; 
  }
  .copyright {
    display: none;
  }
}

/* MEDIUM MOBILE SCREENS */
@media (width <= 360px) and (height <= 740px) {
  html, body {
    height: 100vh;
    width: 100vw;
  }
  #nav, #navOption {
      height: 50px;
  }
  #nav .row > .col-sm-4 {
      display: none;
  }
  .combined-dropdown {
      display: block !important;
  }
  .dropdownContent {
    display: none;
  }
  .dropdownContent.show {
    display: block;
  }
  .label {
      font-size: 15px;
      margin-top: 15px;
  }
  .dropdownContent {
      transform: translateY(50px);
      margin-left: -200px;
      font-size: 15px;
      width: 340px;
      min-width: 340px;
  }
  .dropdownContent a {
      padding: 3px 0;
      letter-spacing: 1px;
  }
  .collapsible {
      height: 50px;
      font-size: 13px;
  }
  .content {
      font-size: 13px;
      transform: translateY(52px);
  }
  button {
      height: 80px;
  }
  footer li {
    margin-left: 5%;
    padding-left: 0px;
    padding-right: 0px; 
  }
  .copyright {
    display: none;
  }
}

/* SMALL MOBILE SCREENS */
@media (width <= 280px) and (height <= 653px) {
  html, body {
  height: 100vh;
  width: 100vw;
  }
  #nav, #navOption {
      height: 50px;
  }
  #nav .row > .col-sm-4 {
      display: none;
  }
  .combined-dropdown {
      display: block !important;
  }
  .dropdownContent {
  display: none;
  }
  .dropdownContent.show {
  display: block;
  }
  .label {
      font-size: 15px;
      margin-top: 15px;
  }
  .dropdownContent {
      transform: translateY(50px);
      margin-left: -160px;
      font-size: 12.5px;
      width: 260px;
      min-width: 260px;
  }
  .dropdownContent a {
      padding: 3px 0;
      letter-spacing: 1px;
  }
  .collapsible {
      height: 50px;
      font-size: 13px;
  }
  .content {
      font-size: 13px;
      transform: translateY(52px);
  }
  button {
      height: 80px;
  }
  footer {
    font-size: 12.5px;
    height: 20px;
  }
  footer li {
    padding: 4px;
    margin-top: 3px;
  }
  .copyright {
    display: none;
  }
}