* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: Lato;
}

/* Navbar elements */
nav {
    width: 100%;
    height: 25px;
    background-color: black;
}

nav p {
    color: white;
    text-align: center;
}

nav a {
    float: right;
    position: inline;
    text-decoration: none;
    transform: translateY(-39px);
    margin-right: 10px;
    color: white;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;
}

/* Dropdown list section */
.label {
    display: inline-block;
    margin-right: 5px;
}

#navbarArrow {
    transition: transform 1s ease-in-out;
    transform-origin: top center;
    display: inline-block;
    vertical-align: middle;
}

#navbarArrow.flipped {
    transform: rotateX(180deg);
    transform-origin: top center;
}

.dropdownContent {
    display: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -240px;
    letter-spacing: 3px;
    background-color: white;
    width: 480px;
    min-width: 480px;
    border: 1px solid rgb(0, 0, 0);
    z-index: 1;
    font-size: medium;
    transform: translateY(35px);
}


.dropdownContent a {
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: lightgrey;
    color: black;
    font-weight: 900;
}

.show {
    display: block;
}

#container {
    text-align: center;
    margin-top: 100px;
}

button {
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    background-color: cyan;
    box-shadow: 2px 2px 5px #888888;
}

#result-message {
    font-size: 15px;
    margin-top: 20px;
}

.collapsible {
    text-align: center;
    background-color: #00fbff;
    border: 1px solid cyan;
    box-shadow: 2px 2px 5px #888888;
    color: black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    position: absolute;
  }
  
  .active, .collapsible:hover {
    transition: all .1s linear;
    background-color: rgb(0, 220, 255);
    border: 1px solid black;
  }
  
  .collapsible:after {
    content: '\002B'; /* This is the unicode for the '+' symbol */
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212"; /* This is the unicode for the '-' symbol */
  }
  
  .content {
    position: absolute;
    padding: 0px 5px;
    max-height: 0;
    overflow: hidden;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    transition: max-height 0.2s ease-out;
    background-color: lightcyan;
    box-shadow: 2px 2px 5px #888888;
    transform: translateY(65px);
    border: 0 solid black;
  }